BasedOnStyle: LLVM
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

IndentWidth: 4
TabWidth: 4
UseTab: Never

EmptyLineBeforeAccessModifier: LogicalNewline
KeepEmptyLinesAtTheStartOfBlocks: true
MaxEmptyLinesToKeep: 2

PointerAlignment: Left